body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar li{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}
.navbar a{
  display: flex;
  text-decoration: none;
  font-size: 16px;
} 
.navbar {
  background-color: aqua;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 10px 20px;
}



.navbar a {
  color:green;
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  background-color: #fae317;
}
.list{
  background-color: #fae317;
  
}
.list li{

}
body{
  text-align: center;
}
.input{
  background-color: #fae317;
  border-radius: 30px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

